@charset 'utf-8';
    .megabox_info{background: white; margin:50px 0;}
    .megabox_info h2{color:#2a155a;font-size: 28px;font-weight:normal;margin-bottom:40px;}
    .megabox_info_img{width: 900px; margin: 0 auto; margin-bottom:60px;
        display:grid;grid-template-columns:164px 164px 164px 164px 164px;grid-column-gap:20px;}
    .megabox_info_img>li{border-radius: 10px; overflow: hidden; box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.3);}
    .megabox_info_img>li img{width: 100%; filter: grayscale(1); opacity: 0.8; transition: 0.3s;}
    .megabox_info_img>li:hover img{filter: none; opacity: 1;}

    .megabox_info>article:nth-child(2){padding:30px 0;
        border-top: 1px solid rgba(0,0,0,0.2);border-bottom: 1px solid rgba(0,0,0,0.2);}

    .notice{display: flex;}
    .notice p,.notice a,.notice span{font-size: 16px;}
    .notice>li:first-child,.notice>li:last-child{flex: 1;}
    .notice>li:nth-child(2){flex: 9; padding:0 20px;
        border-left:1px solid rgba(0,0,0,0.2);border-right:1px solid rgba(0,0,0,0.2);}
    .notice>li:nth-child(2) span{display: inline-block;}
    .notice>li:last-child{text-align: right;}

    .notice>li:nth-child(2) span.notice_color{color: #037b94;font-weight: bold;}
    .notice .notice_day{font-size: 14px; color: #666; line-height: 18px;}
    

    .megabox_info_quicknav{width:1050px;margin:60px auto 100px;display:grid;
        grid-template-columns:175px 175px 175px 175px 175px 175px;}

    .megabox_info_quicknav>li{text-align: center;}
    .megabox_info_quicknav>li img{margin-bottom: 10px;}
    .megabox_info_quicknav>li:nth-child(3){padding-top: 3px;}
    .megabox_info_quicknav>li:nth-child(4){padding-top: 7px;}
    .megabox_info_quicknav>li:nth-child(5){padding-top: 5px;}
    .megabox_info_quicknav>li a>p{font-size: 16px; color: #333;}
    .megabox_info_quicknav>li:hover a>p{text-decoration: underline;}

    .bottom_banner{background: #4f79a9;text-align: center;}

