@charset 'utf-8';

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto', sans-serif; */

/* 기본폰트 */
body{font-family: 'Noto Sans KR', sans-serif; line-height: 1;}

/* css 리셋 */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,img,a,section,header,footer,aside,article,nav,ul,ol,li,input,select,button,form,hr,figure,figcaption,label,address,strong{
    margin: 0; border: none; padding: 0; font-size: 14px; vertical-align: baseline;}
span,input,label,select,img,a,button{display: block;}
ul,ol,li{list-style: none;}
a{color: black; text-decoration: none; outline: none;}
img{vertical-align: top;}
.eng{font-family: 'Roboto', sans-serif;}
input,select,textarea,a{vertical-align: top;}
input,select,textarea,button{border: 1px solid #999;}
.clearfix::after{content:'';display:block;clear:both;}