@charset 'utf-8';

    .login_form{display: none; position: absolute;left: 0;top: 0;width: 100%;z-index:100;
    background: white;}

    .login_form,.login_form a{color: #666;}

    .login_tit::before{content: ''; display: block;}
    .login_tit{display: flex; justify-content: space-between; padding: 10px 0;
        background: white;position: fixed; left: 0; top: 0; width: 100%;}
    .login_tit img{margin-right:15px;}
    .login_tit p{font-size: 20px;padding-top: 4px;}
    #close_btn{width: 30px; height: 30px;}

    .login_content{padding-top: 100px;}
    .id_pass{width:100%;margin-bottom:20px;padding:10px 0;border:none; outline: none;
        border-bottom:1px solid rgba(0,0,0,0.2);}
    .id_pass::placeholder{color: rgba(0,0,0,0.3);font-size: 13px;}

    .id_save{display: flex; margin-bottom: 30px;}
    .id_save>label{display: flex; flex-flow:row nowrap; align-items: center;}
    .id_save>label::before{content: ''; display: inline-block; width: 20px; height: 20px;
        margin-right: 5px; background:url('images/bg-m-check-type3.png');
        background-size:cover;background-position:left;}
    
    #save_id:checked~label::before{background-position: right;}
    #save_id{display: none;}
    .id_save label span{display: inline-block;font-size: 16px;}

    .login_content input[type='button']{width: 100%;border:none; padding:15px 0; 
        color: white;font-size: 18px; background: #6437bf;cursor: pointer;}

    .login_search,.login_sns{width:35%;margin:30px auto;display:flex;
        justify-content:space-around;}
    .login_search{width:100%;}
    .login_sns{padding-bottom: 50px;}
    .login_sns>li{width: 40px;}
    .login_sns img{width: 100%;}